<main>
  <div id="mapdata">
    <svg  version="1.0" viewBox="0 0 556.48 578.36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g transform="translate(-1.7777 -1.3988)">
     <rect x="2.3355" y="1.9566" width="555.36" height="577.24" fill="#969994" stroke="#000" stroke-width="1.1154"/>
    </g>
    <g transform="translate(-1.7777 -1.3988)" fill-rule="evenodd" stroke="#000" stroke-width="1.0167px">
     <g>
       <a xlink:href="/forum/O'Hare">
      <path d="m16.311 52.078 3.0811-3.5947 0.51352-3.8515-1.027-1.2838h-3.5947v-3.3379l2.3109-1.5406h1.7973l1.5405 1.027 0.25684 1.7973 0.7703-13.095 1.5405-0.77027 2.0541 1.5406-1.027 2.0541-1.2838 1.027 0.25673 5.392h2.0541l3.3379-4.1082h1.2838l-0.25673 3.0811 2.5676 0.25677 3.8514 1.7974 3.5947 0.25674 1.2838-2.3109v-3.3379h5.9055l2.0541-1.027 0.51357-5.1353 0.25683 5.1353 1.7972 1.2838 1.2838 0.25672 0.25683 2.5676 6.419-0.25674 4.365 1.2838 6.1623 1.027 2.3108 1.027 4.1082 0.77029 4.1082 1.027 2.8244 1.0271 4.1082 0.25673 1.027 1.2838v4.365h4.365l0.77026 0.25678v5.1352l3.0811 2.3109 0.25683 3.0812 0.7703 3.5947 1.027 1.5406-0.25673 6.6758 2.3108 1.5406-0.25673 2.8244-2.5677 2.0541 0.51357 2.0541 14.892 0.25676 2.5676-0.51349 2.5676-3.0812 0.51353-1.5406 1.2837-2.5676 4.1083-3.338v-2.3108l-1.2838-2.5676-1.0271-2.5676 0.2568-1.2838 0.7703-2.3109h3.5946l6.1623 0.51353 5.6488 1.027 4.8785 1.027 1.7973 0.77033 11.041 0.5135 3.3379 0.51354 5.1352 1.027 0.25683 11.041-3.338 3.5947-11.554 0.25679-6.1623 0.51348 3.0811 2.0541 1.2838 3.0811-0.51352 2.0541-6.419-0.25673-2.5676-2.0541h-2.8244l0.25673 7.9597 11.041 0.25677 1.2838 19.257 0.77037 11.811 1.5406 5.392-0.51353 3.8514-0.77029 3.5947h-17.46l-4.3649-4.6217v-6.1623l-2.3109-3.5947-0.25673-5.1352 1.7973-2.3109-0.25673-1.5406-1.7974-2.8244-4.8785-3.0811-0.77026-2.0541 5.9056-3.8514-0.51353-12.838 1.5405-0.25677-0.25669-2.0541 0.51352-0.77031-1.0271-1.2838-1.027-1.0271h-2.3109l-1.7974 2.3109-2.0541-0.25675-3.3379-2.5676h-16.433l-3.8515 3.8514v11.298l-1.027 2.8244-0.25683 1.7974-2.8244 3.3379-14.379 0.25677v9.2434l-1.5406 1.027-14.636-0.51351-0.77026-1.027h-1.5407l-2.3108-1.0271-3.5946 0.25677-1.7974 1.5406-1.2838-2.5676-0.25673-4.6217-4.1082-3.5947h-3.5947l-1.7973 1.2838 0.77028 2.0541 1.027 2.3109-1.5406 1.7974-2.3108-0.77032-2.3109-1.7973-1.7974-1.7974v-4.365h-5.392l-2.0541-3.3379 0.51352-4.1082-2.8244-3.3379h-2.0541l-3.0812 2.5676-1.7973-1.0271v-4.365-36.204z" fill="#73b932"/></g>
      <g>
        <a xlink:href="/forum/Norwood Park">
      <path d="m150.34 77.755h11.041l3.5946-3.5947v-12.325l0.77036-1.2838v-5.6488l1.2837-0.51352v-5.392l3.8515-3.8514h9.757l1.5406 1.027 2.0541 0.77031 1.0271 2.0541 1.027-0.25675 0.51352-9.2434 0.25674-1.5406 2.5676-0.51353 1.5406 1.7973 4.1082-0.25675 2.8245 1.027 1.5406 0.25676 0.51353-1.5406 9.7569 0.7703 1.0271 1.5406h5.392l1.7973-3.8514h2.3109l1.027 1.5406v2.0541l0.77026 2.3109-0.25674 1.027h-3.5946l0.7703 2.0541 1.2838 1.027 3.0811 2.5676 0.25683 14.379-1.5406 1.2838-10.527 0.25673-1.0271 1.027 0.25679 20.541-1.2838 0.77026-21.054-0.5135-1.5407-1.7974v-5.9055h-7.9596l-0.77036-1.2838-3.3379 0.5135-1.027 6.9326h-1.7974l-1.7974-2.5676-0.25673-4.6217h-5.9056l-1.5406 1.5405v1.2838l-1.0271 0.25677-0.51347 0.77031-3.3379 0.25675-0.7703-1.2838h-2.5676l-4.1082-3.8514z" fill="#73b932"/></g>
      <g>
        <a xlink:href="/forum/Edison Park">
      <path d="m169.6 45.659 11.554-0.25676 3.3379 2.5676 2.0541 0.25678-0.25669-7.7029 0.51352-1.7974 0.25674-1.027 0.25683-19 1.027-2.0541-0.25673-3.8514-1.2838-1.027-11.298-0.51351-0.2567 1.7973-7.4461-0.5135 1.027 1.2838v29.784l0.77026 2.0541z" fill="#73b932"/>
     </g>
     <g>
       <a xlink:href="/forum/Dunning">
     <path d="m151.63 133.73-1.0271-2.3109v-5.6488l-1.5406-1.2838v-8.7299l-0.25684-3.8514v-3.5947l3.3379-0.51353h2.8245l-0.51352 3.0811 1.2838 1.5406h18.744l1.2837-1.5406 11.298 0.77032 1.0271-1.5406 1.2838-1.027 3.0811-2.3109 2.5676-3.0812h2.5676l3.3379-0.77028 2.3108-1.027 1.5406-1.027 1.2837-0.77032h4.6218l2.5676-2.8244v13.865l1.7974 0.77031 8.7299-0.51354 1.5406 1.027 0.51353 1.2838 0.25673 3.0812 1.0271 2.8244-0.25683 10.784-0.51343 1.027-1.0271 1.2838-16.946 0.25672-1.7974 0.51355-16.946-0.77027-1.7974 1.5405-0.51343 1.7974v1.7974l-1.0271 0.25673v1.7974l-4.3649 0.25678-1.2838-1.5406-4.8786 0.25677-1.5406-2.3109-0.77026-1.7974-2.8244-0.77026-19-0.25678z" fill="#7174da"/>
     </g>
    <g>
      <a xlink:href="/forum/Jefferson Park">
     <path d="m210.68 87.768 0.25679-21.311 0.51346-1.027 11.298 0.5135 0.77026-1.5406 0.25683-14.892-2.0541-2.5676h-2.0541l-1.0271-1.2838v-1.5406l11.811 0.25677 0.51343 1.2838 1.2838-0.25676 1.0271 1.5406-0.25683 1.5406-2.0541 1.7974v2.5676l1.0271 1.2838v1.2838l2.0541 1.2838h8.9866l2.5676 2.5676 1.5406 0.51348 0.25683 3.8515 1.7974 1.027 0.25673 2.8244 0.51357 1.7973 3.5946 3.3379-0.25673 8.7299 2.5676 1.5406 1.0271 0.25677v5.6488l-18.487 0.25678-2.3108-2.3109h-5.9056l-0.7703 1.027h-18.744z" fill="#73b932"/>
     </g>
    <g>
      <a xlink:href="/forum/Portage Park">
     <path d="m229.69 86.475-0.25418 1.3027-16.141 0.47656-0.82607-0.22238 0.12709 5.0836-0.12709 4.9248 0.25419 0.03178 0.79434 2.2876v11.279h11.279l1.0485 1.3027 0.50837 4.607 0.50837 1.3027 0.50837 12.836-0.50837 0.76256 0.25419 0.76256 43.402-0.50837 0.50833-17.983-1.3027-1.5251-0.50837-4.1305-0.76256-1.0167v-1.5251l-1.5251-1.811-0.34945-1.0168h0.06354l-0.12709-0.12709-0.12709-0.38124-0.34956-0.09532-0.92133-0.9532-1.0168-1.2709 0.50837-5.1472-1.3028-2.0335-1.2709-0.28595v-2.796l-1.5568-2.0653h-4.353l-18.238 0.50837-1.5251-2.3194-6.6723-0.25419z" fill="#7174da"/>
     </g>
     <g>
      <a xlink:href="/forum/Albany Park">
     <path d="m274.61 88.025 1.0271 1.027v2.0541l2.8243 1.5406 2.3108 1.5406 1.7974 2.0541h1.2838l3.0812 3.0812h18.487l0.7703-1.7974 20.284 0.51355 2.8245 0.25677 1.5406 0.5135-0.51357-3.3379-3.5946-3.5947-1.0271-1.5406-1.2838-1.5406-3.5946-3.5947-1.2838-1.027-0.51357-4.8785-4.8785-0.25676h-3.0812l-3.8514 4.6217-2.3109-0.25677-6.1623-4.365-2.5676-0.25673-0.25673-1.2838h-1.7974v-1.0271h-2.3108l-0.77029-1.2838-2.3109 1.5406v4.1082l-1.027 1.027h-3.5947l-4.6216-4.1082h-16.946l0.25684 9.2435v1.027l12.068-0.25677" fill="#73b932"/>
     </g>
     <g>
      <a xlink:href="/forum/Forest Glen">
     <path d="m256.64 87.768 6.1623 0.25677-1.0271-10.271 1.7974-2.0541v-9.2434h11.811l1.0271-1.2838v-6.6759h5.1353l1.2837-1.027-0.51346-4.1082 8.4731-6.6758 0.51357-1.027-0.77026-0.25676h-33.636l-1.5406-1.027-0.77026-1.5406-1.7974-1.027-2.5676-1.5406-3.3379-1.5406-2.3108-0.25674 0.77026-7.7029 0.25673-3.0812-7.9596 0.25677v5.1353h-2.8244l-2.0541-1.7974v-3.3379l-1.2838-1.027v-2.0541l-0.7703-1.7974-0.25669-0.51355h-1.2838l-0.77029-0.5135-2.3109-0.25676-0.25673-3.8514h-2.5676l-1.2838 1.2838-0.25669 2.8244h-10.527l-1.027 1.2838 0.25673 1.2838 1.027 1.2838 3.8515 4.365 1.0271-0.25677 1.2838 1.2838v2.5676l-4.1082 2.0541-4.365 2.0541 0.77026 1.5406 1.2838 2.0541 4.6217-0.25678 2.3109-4.1082 2.3109 0.25674 0.51352 2.3109 0.7703 1.0271v3.3379l8.7299 0.25677 1.027 0.77027 1.5405 1.5406v1.2838l-2.8243 2.5676 0.25683 1.2838 0.77026 1.5405 0.77026 1.5406v1.027h1.7974l1.5406 0.77031 7.9596-0.51354 2.0541 3.3379 1.5406 0.25675 0.51356 3.8515 1.5405 0.77027 0.51356 3.0812 0.77026 2.3109 2.8244 2.0541 0.25683 0.25678v8.7299l2.0541 1.7974 1.2838 0.25675v4.8785z" fill="#73b932"/>
     </g>
     <g>
      <a xlink:href="/forum/Irving Park">
     <path d="m256.38 87.768 17.717 0.51355 1.7972 2.0541 3.0812 3.0812 6.1623 4.8785 1.2838 0.77027 19.257 0.51355 0.88955-1.647 21.706 0.10636 2.3108 0.25677-0.25673 2.8244 1.2838 1.5406v7.7029l-1.0271 1.2838-2.3108 3.3379v5.9055l-40.055 0.77032 0.7704 11.298-18.487-0.51349v-13.095-4.8785l-1.2838-5.1352-4.8785-7.1894 0.25674-6.1623-2.3108-2.0541v-3.8514l-1.0271-0.25673-0.77026-0.77031-4.1082-1.2838z" fill="#7174da"/>
     </g>
     <g>
      <a xlink:href="/forum/North Park">
      <path d="m263.06 77.755h17.973l1.7973 3.0812 2.5676 1.7974 3.5947-1.0271 0.25674-4.6217 1.0271-1.5406 1.2837 0.25677 1.7974 1.2838h1.2838l2.0541 1.5406 2.8243 0.77026 3.5947 2.5676 2.0541 2.0541h2.0541l1.5406-2.3109 2.5676-2.5676 6.6758 0.25676-0.77026-12.581-2.3109-3.3379-1.027-1.027 0.25669-2.0541-1.0271-1.7974v-2.5676l-0.77026-2.3109-1.5406-2.0541 0.25673-6.1623-17.973-0.25677v1.027l-3.0812 0.25677-0.51356 1.7974-2.8243 1.5406-4.1082 3.5947 0.51357 4.365-1.7974 0.25678-4.8785 0.51349-0.25673 7.1894-0.51353 0.77031-12.068 0.25673-0.51356 11.041z" fill="#73b932"/></g>
      <g>
        <a xlink:href="/forum/West Ridge">
      <path d="m316.47 65.687-3.5946-6.419v-3.5947l-2.0541-4.365v-6.1623l2.3108-2.3109v-31.582l32.352 0.77029v11.041l1.2837 2.8244 1.7974 3.0811 0.51356 3.0812 1.5406 2.8244 0.51353 3.0812 5.1353 6.4191v10.27l-18.744-0.5135 0.25674 11.811-21.311-0.25677z" fill="#73b932"/>
      </g>
      <g>
        <a xlink:href="/forum/Rogers Park">
      <path d="m344.71 12.023 0.51357 10.014 1.0271 4.365 2.5676 2.0541v4.6217l1.5407 2.0541 0.77026 3.0812 5.1353 6.419 25.676-0.25671-0.77026-4.6218-1.0271-2.3109v-4.6217l2.0541-0.5135-0.51357-1.2838-2.3108-1.2838v-1.7974l-1.2838-1.2838-2.8244-2.8244v-1.7973l-1.2838-2.0541-1.0271-2.3109-1.027-1.5405v-1.027l-1.0271-0.77032v-4.8785l-2.5676-3.0811h-13.608v1.7973l4.1082 3.5947h0.77036l-14.892 0.25678z" fill="#73b932"/></g>
      <g>
        <a xlink:href="/forum/Edgewater">
      <path d="m356.52 43.605 0.77026 33.379 31.839-0.25676 1.2838-2.0541 2.3109 0.25676-5.1352-4.6217-0.25669-3.8514 1.2838-0.77031-0.25683-1.5406 2.3109-2.5676h-1.5406l-3.0811-2.3108h-2.5677l-0.7703-15.406-26.19-0.25678z" fill="#73b932"/>
      </g>
      <g>
        <a xlink:href="/forum/Lincoln Square">
      <path d="m316.98 65.687h21.311v-11.811l18.744 0.77027v43.393h-26.703v-2.5676l-5.392-5.392-0.7703-1.7973-4.8785-3.8514-0.51353-5.9055-1.5406-2.0541-0.25683-10.784z" fill="#73b932"/>
      </g>
      <g>
        <a xlink:href="/forum/Uptown">
      <path d="m357.04 76.728 31.325 0.25676 1.7974-2.0541 2.8244-0.51353-2.3109 1.2838-0.25679 4.8785 1.027 2.5676 5.1353 4.8785 2.3109 2.3109h1.027l3.8514 2.5676 3.0812 0.51355 0.51352 0.77027 5.1352-0.25677 1.2838-2.5676v2.8244l-1.027 3.5947v1.5406l-2.8244 3.0811-2.3108 1.2838-1.5406 0.51354h-1.7973l-2.0542-2.0541 1.0271-1.0271 4.6217 0.25678 1.7974-2.3109-2.0541-1.027-2.3109-0.77028h-4.3649l-1.0271 1.027-1.027 3.0811v3.0812l0.7703 0.77028-0.25679 4.1082h-27.217l-0.25674-3.8515-5.6488-6.6758-9.2434-0.25674v-21.825z" fill="#73b932"/>
      </g>
     <g>
        <a xlink:href="/forum/Lakeview">
     <path d="m357.81 99.323 1.027 42.366h53.663l1.7973-1.027-0.25673-1.7973-1.027-1.5406-1.2838-2.3108-0.51356-1.7974v-4.365l-1.2838-1.7974-2.8243 3.5947-1.5406-0.25674-3.5946-4.8785-1.5406-1.7974 0.25678-4.1082 1.7973 1.0271 1.5406 0.77028 2.3109 2.5676 1.5406 0.51351 3.0811 0.25676-0.77025-2.0541-11.554-13.352-26.703-0.25678-0.51352-0.77028v-3.5947l-5.1353-5.6488-8.4731 0.25677z" fill="#68efe5"/>
     </g>
     <g>
        <a xlink:href="/forum/North Center">
     <path d="m357.8 98.549 0.25419 43.656h-11.533l-5.4014-4.3529-2.5736-2.5736-3.5902-4.1305-5.4014-6.4181v-1.5251l-1.0167-0.50837-0.25419-6.6723 2.3194-4.3846 1.2709-1.2709-0.25418-8.2292-0.76256-1.2709v-2.5736l26.943 0.25418" fill="#68efe5"/>
     </g>
     <g>
        <a xlink:href="/forum/Montclare">
     <path d="m187.92 134.25 1.4525-1.634 19.608 0.9078-0.72624 30.865h-2.1787l-2.5418-2.1787-3.6312-1.0894-3.268-0.72624-5.0836-3.268h-2.905l-0.72624-22.876z" fill="#7174da"/>
     </g>
     <g>
        <a xlink:href="/forum/Belmont Cragin">
     <path d="m208.61 132.44v30.865l4.3574 2.9049h19.971l2.1788-1.0893 7.2624 0.36309 12.709 0.36313 3.6312 0.3631 4.3574 1.4525 3.9943 0.72626 4.3574 0.72623-1.0893-36.675h-61.73z" fill="#7174da"/>
     </g>
     <g>
        <a xlink:href="/forum/Austin">
     <path d="m188.46 156.95 3.4497 0.36314 4.3574 3.0865 7.3532 1.634 2.2694 2.3602 2.9049-0.54466 3.6312 1.9972 16.522 0.3631h3.9942l1.9972-0.99857 5.6283-0.09076 18.882 1.0893 11.257 3.268 1.4525 2.1787-1.0894 15.251 0.72625 14.888 0.36319 6.8992 0.72624 10.53v2.5418l-1.8157 1.0894 1.0894 2.905 1.0893 0.72622 0.36305 8.7148-1.0893 2.5418-1.4525 2.905-0.36305 1.8156h-41.758l-0.36315-64.998-39.943-0.72623-0.1816-19.79z" fill="#ff5e70"/>
     </g>
     <g>
        <a xlink:href="/forum/Hermosa">
     <path d="m270.51 132.7 0.51353 36.717 1.2838 0.77027 24.392 0.25677-1.5406-2.0541-0.25683-1.2838-0.51347-1.2838v-1.5406l-4.1082-3.0812v-7.7028l-5.6489-7.1894-0.25669-3.5947-4.365-7.9597v-2.0541h-9.5002z" fill="#7174da"/>
     </g>
     <g>
        <a xlink:href="/forum/Avondale">
     <path d="m279.75 132.96h9.2435v-11.554h39.028l1.2838 2.0541 1.027 2.0541 7.9597 10.014 8.2164 5.9056 0.51357 1.027-62.65 0.51351-4.8785-8.7299 0.25669-1.2838z" fill="#68efe5"/>
     </g>
     <g>
        <a xlink:href="/forum/Logan Square">
     <path d="m284.11 142.46 0.25683 4.365 2.8243 3.0812 3.0812 4.365 0.51342 7.4461 3.0812 2.5676 0.51352 3.3379 1.5406 3.0812 50.582-0.25677 0.51357-1.2838h22.082l1.2838-1.2838 0.77029-1.5406-1.2838-2.8244-5.392-6.1623-4.1082-0.51355-3.0812-2.8244-0.77026-3.0811-3.5946-2.5676-3.338-0.77027-0.77036-2.0541-1.7972-2.8244-62.907-0.25677z" fill="#68efe5"/>
     </g>
     <g>
       <a xlink:href="/forum/Humboldt Park">
      <path d="m271.79 170.45-0.25674 37.231 1.7973 2.0541 28.501 0.25677 1.027-1.027h32.866l-0.25673-5.1352-7.703-6.1623-5.9056-0.77031v-4.365l-1.027-0.77027h-1.2838l-0.51357 0.77027h-2.5676v-2.5676l-1.2837-1.5406 0.25673-11.811 2.3108-0.77028 5.1353-0.25677v-1.2838l0.7703-0.51353-1.027-3.3379h-50.839z" fill="#ff5e70"/> 
      </g>
      <g>
       <a xlink:href="/forum/West Town">
      <path d="m322.63 170.45 1.027 1.2838v2.3109l-1.2838 1.2838h-6.1623l-0.51356 1.5406-0.25674 11.811 1.2838 1.2838-0.25684 2.5676 2.311 0.25677 1.2838-1.2838h1.2838l0.7703 1.2838 0.25673 4.1082 5.1353-0.25673 1.5406 1.2838 4.1082 3.5947 2.3109 2.0541v4.8785l2.5676 0.51353 64.191-1.0271-0.77028-1.7973-1.5406-1.2838-0.25674-1.5406-2.0541-1.5406-1.027-2.5676v-4.365h-5.9056l-4.6217-4.3649h-2.8244l-4.8786-5.6488v-6.6758l2.5676-2.3109-0.77025-5.1353-2.0541-2.8244-2.3108-0.77027h-4.6217l-2.3109 2.3109-22.338-0.51355 0.25674 0.77032-24.136 0.77027z" fill="#ff5e70"/>
      </g>
      <g>
       <a xlink:href="/forum/West Garfield Park">
      <path d="m272.82 210.5v7.7029l-0.25683 2.0541v1.2838l-1.027 0.25677-0.25683 2.5676 2.8245 2.5676-0.25683 7.4461-1.027 1.5406 0.25673 1.7973h3.0812l2.5676-2.3109 3.0812-1.027 0.77026 1.027v1.5406l2.3109 1.027 14.122 0.25678v-7.9597l-0.25684-5.1353-0.25673-1.7973-1.0271-13.352-24.649 0.5135z" fill="#ff5e70"/>
      </g>
      <g>
       <a xlink:href="/forum/East Garfield Park">
      <path d="m299.01 235.92-1.2838-25.933 4.6216 0.25673 0.77036-1.5406 32.352 0.25677 1.2838 0.25674v2.3108l-1.0271 0.25678v2.0541l-1.2838 0.5135 0.25683 3.5947 1.027 2.8244v16.69h-18.487l-2.0541-1.5406h-16.176z" fill="#ff5e70"/>
      </g>
     <g>
       <a xlink:href="/forum/Lincoln Park">
     <path d="m348.05 141.7h64.635l0.36314 2.5418 0.72625 2.7234 0.18151 3.268 0.90778 3.0865v1.9971l1.4525 3.2681 0.72619 1.8156 0.90779 1.634v1.4525l0.90784 0.72627v1.9971l4.1758 4.1758h1.2709l0.90784-1.0893 1.634 0.18153 0.54473-1.2709h0.7262l0.18155 2.5418-1.2709 0.72623h-0.90779l-0.72624 0.9078-1.2709 0.18156-0.90775 1.0893-1.6341-0.18154-0.54465 1.0893h-40.851v-3.268l-0.90784-0.9078v-1.0893l-1.2709-0.9078-1.9971-0.18157-0.54469-1.0894h-4.539v-1.0894l-1.0893-0.90775v-1.8156l-4.902-5.4468-3.9944-0.72622-4.1758-3.8127v-1.4525l-3.0866-3.4496-3.8127-0.3631-0.36309-1.634-0.72625-0.18157v-1.8156l-1.0893-0.9078 0.36309-1.8156z" fill="#68efe5"/>
     </g>
     <g>
       <a xlink:href="/forum/Near North">
     <path d="m380.55 174.39 0.15892 0.06354-0.34956 0.82611-1.0803 1.2709v0.73078l-1.0802 1.2709v5.8144l0.88961 1.4615 1.2709 1.6204 1.8428 1.2709 1.2709 1.8111 2.5418 0.1906 1.4298 1.2709 2.9231 2.7325 5.0836 0.15886 0.73075 0.92139 0.3495 4.3529h1.0803v0.92138l0.92139 0.69901 0.19064 0.92143 0.69901 1.0802 1.1121 0.92142v1.2709l1.0802 1.0803 0.92142 1.0803 2.3512 3.1137 2.8913-0.38128v-0.54011h1.2709l0.73079-1.2709h1.6522l2.3512 2.0017h2.1605l0.92143-1.0802 3.2726-1.8428 7.0853-0.15887 1.4298 0.73075 6.3546 0.15886 1.112-0.88961 0.15886-2.0017 1.1121 0.19063 1.2709 0.69902 2.5418 0.38128 1.0803-1.811 9.6271 0.15887 2.5418-0.54015v-1.6204l2.0017-0.19064-0.73076-1.0802h-5.2743l-0.88965-1.2709v-2.5418l-0.92143-0.92138-7.8161-0.15887-1.6204 0.69901 0.19064 1.112-0.92142 0.88965-1.2709 2.1923-0.92143-0.54014-1.9699-2.9231-0.92143-1.4298-0.92138-0.92143s-1.0621-1.8292-1.9699-3.4632l-0.19064-0.69901-1.0803-1.4616-2.0017-1.811-1.811-1.4615-2.0017-1.6204-1.2709-1.4615v-3.8127l-0.92143-2.1924-0.19064-3.9716h-40.288-0.1906z" fill="#fca7f2"/>
     </g>
     <g>
       <a xlink:href="/forum/North Lawndale">
     <path d="m273.61 237.92 3.4497-1.634 2.9049-0.9078 2.7234-0.9078v2.905l9.441 0.18157 6.8992 0.36309v-2.1787l17.248-0.36313 1.2709 1.2709 1.2709 0.9078 16.34-0.18157 0.36309 3.8127 3.9943 4.7205 0.18149 6.3545-5.9914 4.539h-11.257l-1.0894 0.9078v2.9049l-11.257 0.18156v1.2709l-1.0893 0.72628v0.90775l-1.2709 0.72627h-10.349l-1.4525 0.72623-1.634 1.2709-1.2709 0.5447-1.8156 0.9078-1.2709 0.90775-1.0894 1.2709-4.3574-0.18157-0.36305 0.9078-4.539 0.36313-1.8156 0.9078h-3.9943l-0.1816-34.133z" fill="#ff5e70"/>
     </g>
     <g>
       <a xlink:href="/forum/Near West Side">
     <path d="m335.52 237.56 0.54465-18.701-0.14133-10.809 2.6832 0.09721h63.727l2.5418 3.0865v13.254l1.2709 3.0865 1.634 3.8128 1.0894 5.4467 0.72624 2.905 0.3631 10.53-0.90783 0.72627-68.992 0.90776-0.72624-6.3545-3.8127-4.539 0.36305-29.665" fill="#ff5e70"/>
     </g>
     <g>
       <a xlink:href="/forum/Loop">
     <path d="m404.7 211.05 0.36314 13.435 2.5418 6.7177 1.2709 5.0836 0.18151 3.6312h20.879l3.0865-2.5418-0.36314-18.156 3.6312-3.268-0.1816-5.8099-1.2709-1.2709-6.173-0.18157-2.1787-0.9078-7.2624 0.3631-3.4496 2.5418h-2.3602l-1.8156-1.634-1.8156-0.18152-2.1787 1.9971-2.905 0.18157z" fill="#fca7f2"/>
     </g>
     <g>
       <a xlink:href="/forum/South Lawndale">
     <path d="m273.98 272.06 6.1729-0.18156 1.6341-0.9078 4.5389-1.2709 4.7206-0.9078 0.36309-0.54466 2.1787-1.2709 3.4497-2.3603 11.257-0.36309 1.0893-1.634 1.0893-2.1787 10.894-0.54467 0.54469-2.3602 11.438-0.54471 6.7177-4.5389 0.90774 36.312-64.998 25.6-1.2709-1.2709-0.72624-41.032z" fill="#ff5e70"/>
     </g>
     <g>
       <a xlink:href="/forum/Lower West Side">
     <path d="m340.24 251.72 0.54465 37.22 9.6226-3.2681 16.885-0.3631 1.4525-1.2709 1.634-0.36309v-6.3546l8.7148-8.8964h12.709l6.8992-2.3603 0.18151-1.0894 9.9858-10.167 1.2709-1.0894-0.36314-2.5418-69.537 0.5447z" fill="#ff5e70"/>
     </g>
     <g>
       <a xlink:href="/forum/Near South">
     <path d="m409.96 239.92h20.698l2.5418-1.9972 3.9943 2.1787 10.167 0.36309v2.7234l-2.905 1.8156v2.5418l0.90779 1.2709 0.36314 1.8156-1.2709 1.634v9.2595h-3.0865l-0.18159-8.3517-1.2709-0.9078 0.18156-8.8964-3.9943 0.36311 0.54474 6.8992 1.9971 1.9972v2.1787l-1.634 0.72623 0.5447 3.2681 1.0893 2.1787 0.54474 5.2652 2.1787 3.9943 1.2709 3.268-28.142-0.18157v-3.268l2.1787-2.7234-0.18155-5.6283-1.4524-1.9972-0.1816-3.8127-1.8155-1.8156-3.0865-0.36313v-13.798z" fill="#fca7f2"/>
     </g>
     <g>
       <a xlink:href="/forum/Armour Square">
      <path d="m398.34 264.98 11.257-10.894 1.0893-0.9078 1.634 0.72623 1.9972 0.18157 0.36315 0.9078 0.54464 5.4467 1.4524 1.9972v5.6283l-2.1787 2.1787 0.5447 24.147 0.90779 1.634v9.9857h-8.8964l-0.36314-24.147-1.2709-5.4468-6.7177-8.3517-0.36314-3.0865z" fill="#eff547"/>
      </g>
      <g>
       <a xlink:href="/forum/Douglas">
      <path d="m414.5 273.69 0.1816 21.061 1.0893 0.9078 0.1816 10.53 21.061 0.18156 2.7234-11.438 9.441-0.3631-0.72624-3.268-2.9049-4.539v-3.6312l-4.539-5.9914v-3.8128l-26.508 0.36314z" fill="#eff547"/>
      </g>
      <g>
       <a xlink:href="/forum/Bridgeport">
      <path d="m370.2 277.14 9.8042-8.8964 14.525-0.54466 3.2681-1.0894 6.5361 7.6255 1.4525 3.9943 1.0893 3.4496-0.18155 24.51h-16.885l-2.3603 0.54465-7.807 0.18157v-13.435l-7.0808-7.4439-0.72627-1.8156-1.6341-1.4525v-5.6283z" fill="#eff547"/>
      </g>
      <g>
       <a xlink:href="/forum/McKinley Park">
      <path d="m340.79 288.76 8.8964-2.7234 15.251-0.54466 3.2681-1.0894 3.4496 0.18156 7.0808 8.3517 0.90784 0.9078 0.1815 13.435-35.404-0.18156-3.4497-5.0836-0.18149-13.254z" fill="#fd8e16"/>
      </g>
       <g>
       <a xlink:href="/forum/Brigton Park">
      <path d="m306.66 301.83 34.678-13.072 0.18158 13.254 2.9049 5.4468-0.18159 27.052h-37.401l-0.1816-32.681z" fill="#fd8e16"/>
      </g>
       <g>
       <a xlink:href="/forum/Archer Heights">
      <path d="m275.43 314.18 0.36306 35.041 4.7206-3.4496 7.4439-0.18157 18.7-11.257-0.18149-32.499-31.047 12.346z" fill="#fd8e16"/>
      </g>
       <g>
       <a xlink:href="/forum/Garfield Ridge">
      <path d="m193.73 345.22 5.8099-3.0865 32.499 0.54472 2.1787-1.634h21.061l1.2709-1.4525-0.36305-20.879 13.072-4.3574v-5.9914h6.1731l-0.36319 5.4468 0.36319 1.0894 0.1815 48.113-80.249 0.72621-1.4525-1.0894-0.1816-17.43z" fill="#fd8e16"/>
      </g>
       <g>
       <a xlink:href="/forum/West Elsdon">
      <path d="m276.15 363.02 31.41 0.18152 0.54465-28.142-0.72624-0.72623-19.245 11.257-0.1816-0.18153-8.3517 0.72623-3.4497 2.7233v14.162z" fill="#fd8e16"/>
      </g>
       <g>
       <a xlink:href="/forum/Gage Park">
      <path d="m307.56 363.74 0.54465-28.686h43.393l0.54465 28.505-44.482 0.18155z" fill="#fd8e16"/>
      </g>
      <g>
       <a xlink:href="/forum/New City">
      <path d="m344.06 334.69 0.1815-27.778 63.001-0.54466v7.4439l0.90779 0.54466-0.18151 3.0865-0.90779 0.18152 0.18151 32.317h-55.557v-15.069l-1.2709-0.90779-6.3546 0.72622z" fill="#fd8e16"/>
      </g>
     <g>
       <a xlink:href="/forum/Fuller Park">
      <path d="m406.7 350.13 9.8041 0.54466-0.54464-36.675-0.5447-2.3603v-5.6283l-8.7148-0.3631 0.18155 8.1701 1.0894 0.9078 0.18151 2.9049-1.2709 0.18157-0.18155 32.317z" fill="#eff547"/>
      </g>
    <g>
       <a xlink:href="/forum/Grand Boulevard">
      <path d="m416.5 338.51 28.868 0.3631-1.9972-32.681-27.597-0.36313 0.1816 7.6255 0.54464 25.055z" fill="#eff547"/>
      </g>
      <g>
       <a xlink:href="/forum/Oakland">
      <path d="m437.2 306.01 2.9049-11.257 9.441 0.54466 4.1759 8.5333 5.2652 7.9886 5.0836 5.4468h-19.971l-0.36314-11.438-6.5361 0.18156z" fill="#eff547"/>
      </g>
      <g>
       <a xlink:href="/forum/Kenwood">
      <path d="m444.1 317.45 0.3631 20.335 1.0894 1.634 31.41-1.0894 1.634-2.3602-0.36314-0.90779-7.0808-6.173v-1.9972l-1.0894-0.72622-0.18155-1.8156-7.807-7.0808-17.974 0.18157z" fill="#eff547"/>
      </g>
     

     <g>
       <a xlink:href="/forum/Clearing">
      <path d="m195.18 363.56-0.1816 15.977 1.8156 0.54466 72.805-0.3631 0.90774 1.0893v4.3574l5.4468-0.18153v-21.969l-80.794 0.54466z" fill="#fd8e16"/>
      </g>
      <g>
       <a xlink:href="/forum/West Lawn">
      <path d="m270.53 385.53 5.0836-0.36313 0.36315-22.513 31.773 0.18156-0.36319 10.712 1.2709 1.634-0.36305 19.064 0.90773 1.8156v9.2595l-3.8128-1.2709-1.997-0.90781-1.0894-1.2709-1.634-0.72621-1.9972-1.4525-2.1787-0.3631-0.1815 11.983-24.692 0.36313v-1.4525l-0.9078-2.1787-0.18159-22.513z" fill="#fd8e16"/>
      </g>
      <g>
       <a xlink:href="/forum/Chicago Lawn">
      <path d="m309.56 405.5-0.18156-10.167-1.2709-2.3603 0.36319-18.701-1.0894-1.9971 0.36319-8.7148 44.119-0.18157 0.1816 30.502 1.4525 1.4524-0.18159 10.712-43.756-0.5447z" fill="#fd8e16"/>
      </g>
      <g>
       <a xlink:href="/forum/West Englewood">
      <path d="m353.14 405.14-0.18149-10.712-0.90784-0.72623-0.1816-43.756 30.683 0.36314 0.72624 21.787 1.0893 2.1787 0.18156 31.228-6.5361-0.18157-0.90774-0.54466-1.4525-0.18157-1.4525 1.634h-2.5418l-0.54469-1.2709-17.974 0.18157z" fill="#fd8e16"/>
      </g>
      <g>
       <a xlink:href="/forum/Englewood">
      <path d="m384.91 405.68-0.54465-31.591-1.0893-2.7234-0.54465-21.061h33.407l0.90779 16.34-0.90779 1.0894v3.6312l-1.634 1.0893-0.18155 9.441-0.90779 1.634v2.7234l-1.0894 0.9078-1.8155 0.90779-0.90779 12.528-1.4525 1.9972-1.8155 1.8155h-2.1787l-0.90779 1.2709v2.905l-6.5361 0.18153v-2.3602l-1.2709-0.72624h-10.53z" fill="#fd8e16"/>
      </g>
      <g>
       <a xlink:href="/forum/Washington Park">
     <path d="m416.86 366.83v-28.142h27.415l0.7262 1.4525 0.18155 22.876-11.801-0.18158-0.3631 1.0894-0.36314 7.0808-3.8127 0.18157-1.2709 0.36309-6.7177-0.18153v-2.7234l-1.0893-1.8156h-2.905z" fill="#eff547"/>
     </g>
     <g>
       <a xlink:href="/forum/Hyde Park">
     <path d="m444.82 339.23v23.784l11.257-0.36314 26.326-0.18158 0.18154-1.634-0.54465-3.9943-3.4496-4.3574 2.5418-3.0865 2.9049-1.0894v-2.5418l-4.7205-0.72624-2.1787-2.1787-0.18152-4.3574-32.136 0.72624z" fill="#eff547"/>
     </g>
     <g>
       <a xlink:href="/forum/Ashburn">
     <path d="m272.52 412.04-0.18156 28.142 55.194-0.54465 20.153-1.2709 11.983 0.36311-1.9972-3.0865-2.1786-3.2681-2.5418-2.9049v-23.421l-44.119-0.18157-12.164-6.7177-0.36309 12.164-23.784 0.72621z" fill="#5da665"/>
     </g>
     <g>
       <a xlink:href="/forum/Auburn Gresham">
     <path d="m353.5 405.14 17.793 0.18152 1.634 1.8156 1.8156-0.72622 0.54464-0.72624 20.335-0.36313 1.2709 1.0894v2.3602l6.5361 0.36314 0.1816 17.793 3.0865-0.36314h1.9972l1.0893 1.9971-0.90775 19.427-0.36314 1.0893h-11.801l-0.36314-1.4525-1.634 0.18158-0.72625 1.0894-1.8156-0.18155v-2.905l1.4525-1.0893-0.18155-1.2709-19.427-0.18158-2.9049 0.54469-1.8155 2.9049-3.0865 0.18158-13.254-17.067 0.54464-24.692z" fill="#5da665"/>
     </g>
     <g>
       <a xlink:href="/forum/Chatham">
     <path d="m403.25 415.12v11.62l1.0893 0.90779 1.8156-0.36314 0.90779-0.90779 1.8156 0.54472 0.72624 1.634 0.3631 7.6255 10.712 12.346 10.349-0.90782 4.539 3.9943 5.8099 3.4496 7.6255 4.3574-0.36315-6.173 0.54469-2.3603 0.54465-5.9914 2.1787-3.0865 0.90779-2.7234 1.2709-2.5418 4.3574-0.90779-1.4525-2.1787v-11.983l0.72623-1.9971-0.18154-4.539-47.568 0.18158h-6.7177z" fill="#b7dccb"/>
     </g>
    <g>
       <a xlink:href="/forum/Woodlawn">
      <path d="m432.48 371.01 0.1815-8.1701 49.384-0.72622v2.3602l4.902 4.1758 5.6283 0.18155 0.18155 0.90781-7.6255 2.7234-0.90779 1.4525v2.1787l1.0893 1.0894 0.1816 0.90779h1.634 1.0893l-0.1815-2.1787-1.0894-0.9078v-1.0893h2.1787l2.7234 1.9971 1.4524 2.5418 2.7234 3.0865-49.202 0.72625-1.2709 0.90778 0.3631 10.349-13.072-12.164-0.3631-10.349z" fill="#eff547"/>
      </g>
      <g>
       <a xlink:href="/forum/Greater Grand Crossing">
      <path d="m403.06 415.67 0.1816-10.167 0.90779-1.0894h2.5418l1.2709-1.9971 1.2709-1.2709v-8.5333l0.90779-1.2709v-3.2681l1.2709-1.2709h1.9971l0.54466-4.1758 0.36313-1.4525 0.36315-8.7148 1.634-0.9078 0.1815-4.3574h3.8128l0.36314 1.0893 0.72624 3.4496h6.5361l1.8156-0.54466 2.7234 0.36309v9.8042l13.072 11.62 0.3631-10.167 17.793-0.36308 0.18159 9.0779-2.1787 1.634v5.0836l-2.905 2.3602v3.9943l1.2709 0.72623-0.1816 1.634-2.5418 1.8156 0.1816 3.0865 1.0893 0.54466-0.1815 2.5418h-12.891l-1.0894 0.72624h-41.395z" fill="#eff547"/>
      </g>
      <g>
       <a xlink:href="/forum/South Shore">
      <path d="m463.89 381.72 33.044-0.36309 0.90779 1.634h2.1787l1.2709 1.4524 0.3631 3.6312 3.9943-0.36313v-1.0893l1.2709 0.36311-0.54465 3.4496-0.90778 0.36314h-1.0894l-0.90779 1.2709 0.1816 2.5418 4.902 4.3574 4.539 0.36312 0.3631 1.634 1.4525 1.0893h11.257l2.5418 3.0865v1.0893l-1.2709 1.0894-1.4525 0.90779-1.2709 1.2709-1.0893 0.72628-1.0894 0.90775h-5.4468l-2.3602 2.3603h-13.254l-1.2709 0.72623-27.96 0.54466-11.62-9.4411-1.634-1.2709-0.18155-3.4496 2.7234-2.7234 0.18159-4.539 1.9971-2.1787 0.18159-9.4411z" fill="#eff547"/>
      </g>
     <g>
       <a xlink:href="/forum/Avalon Park">
      <path d="m456.62 432.19-0.36314-11.257 1.634-0.90778-0.18156-5.4468 1.0894-1.0893-0.1816-1.634-1.2709-0.9078 0.1816-2.3602 2.3602-1.6341-0.18154-2.3602 37.764 32.317-38.309-0.18157-1.634-1.0894v-1.4525l-0.90779-1.9971z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/South Chicago">
      <path d="m471.33 414.76 29.231-0.18158 1.2709-1.2709 13.072 0.18158 2.5418-2.3603 5.9914 0.36314 2.9049 3.0865h5.8099l0.90779 0.90781h1.8156l1.634 0.9078 1.4525 0.18156 0.36314 0.72623h1.2709l2.5418 3.9943v8.7148l-10.349-0.18158-1.0893 0.90782 0.90779 0.54469 10.712 0.18152 0.72624 1.4525v1.634l0.90779 1.4525v4.7205l-1.9971 1.9972h-1.9972l-0.54465 0.90781h-2.5418l-0.36314 1.2709-3.268-0.3631-1.634-1.634-0.90779-0.18157v0.72625l1.9971 2.3602v1.0894l-6.8992 5.8098-0.72625 0.54472v4.9021l-3.8128-0.36314-49.929-43.029z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/Burnside">
      <path d="m448.27 459.79 1.2709-8.1702v-6.8992l1.2709-1.634 0.90779-1.4525 0.72625-1.634v-1.0893l1.2709-0.72626v-1.634l1.4525-0.54465 3.6312 0.36312 1.4525 3.0865 1.2709 1.9972 1.0894 2.3602 1.9971 3.8127 2.1787 4.1758 3.0865 5.0836v2.5418l-21.605 0.36314z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/Calumet Heights">
      <path d="m458.8 436.73 11.075 19.79v2.5418h2.1787l1.2709-2.3603 22.695 0.36314 0.36314 0.90779 24.692-0.18157-24.147-21.061h-38.127z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/Roseland">
      <path d="m447.55 459.79-16.885-11.983-10.893 0.18156-8.3517-10.894-1.9972-0.18157v11.075l-0.7262 0.3631v1.4525l0.90779 0.36307 0.54465 14.706 1.634 2.5418v1.9971l-0.90779-0.18154v12.164l-11.075 0.18158-0.3631 32.681h38.127l0.72623-3.2681v-2.3603l0.72625-1.0893 0.54464-4.7206 0.72625-1.4525v-3.8127l1.0894-1.2709v-3.6311l0.90779-1.2709 0.18155-4.1758 1.0893-5.4467 0.90779-5.4468 0.90779-5.4468 1.0894-4.539 1.0893-6.5361z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/Pullman">
      <path d="m447.55 459.97-4.9021 27.415-0.5447 4.3574-0.72619 1.0894v3.6312l-1.2709 1.2709v4.5389l-1.2709 0.18155v5.6283l-0.72624 1.8156v3.4496l13.435-0.18155 1.2709-3.9943 7.807-18.156 11.438-11.62-0.18154-20.335-24.329 0.90782z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/East Side">
      <path d="m523.07 518.61-0.5447-28.686 2.7234-1.4525-0.18156-0.54469-2.3603-0.54468-0.72625-1.4524v-5.2652l2.905-3.4496 0.18154-24.147 15.432-8.1702h1.9971l4.539 5.2652 0.18155 5.2652-0.18155 1.634 2.1787 0.90779 0.72624 1.2709-0.18154 2.5418-2.5418 2.3603-0.18155 1.0893-1.6341 3.0865v1.8156l0.72628 1.634-0.18155 31.954-3.4497 0.1815-0.72619 0.90779v9.6226l-0.90779 1.0894-10.712 0.54464-0.36315 2.1787-1.2709 0.54469-5.4467-0.18154z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/South Deering">
      <path d="m472.78 457.61 23.421-0.54467 0.54465 0.90779 28.323 0.18157v19.245l-3.4496 3.268 0.3631 5.6283 1.0894 1.2709h1.9971l0.18156 0.90779-2.5418 1.0893 0.18154 64.816-5.2652-5.6283-1.8156-0.18157-4.3574-6.7177-1.8156-3.6312-1.2709-1.9972-1.9971 0.36314-0.90778 0.72624-0.18155 15.796-1.0894 0.54472-29.957 0.18152-1.0893-1.2709-6.173-0.90776-15.977-23.058 0.5447-17.248 9.9857-20.879 10.712-11.983 0.54469-20.879z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/Hegewisch">
      <path d="m481.5 576.17-0.36305-6.5362-13.798-17.43 6.5361 0.54467 0.36314 0.72628h30.502l0.1816-14.706 1.8155-2.7234 1.8156 0.36315 1.2709 1.2709-0.18154 1.9972 3.9943 5.6283 1.9972 3.268h2.5418l4.539 4.7206-0.18156-34.315 1.0894-1.0894 5.9914 0.3631 0.36314-2.5418 11.801-0.3631 0.18154-10.53h3.9943l0.18155 71.534-64.635-0.18148z" fill="#b7dccb"/>
      </g>
      <g>
       <a xlink:href="/forum/Riverdale">
      <path d="m480.77 576.17v-7.2624l-29.957-40.124 0.18155-15.614-12.528 0.18155-1.2709 2.905v3.4496l-1.0894 1.8156v3.9943l-0.90779 1.8156-0.1815 3.4496-0.72629 0.72623v4.3574l-1.0893 1.2709v3.6312l-0.90779 1.4525-0.90779 10.349-1.2709 1.0894-1.8156 0.18152-3.2681 5.6283v16.703h55.739z" fill="#b7dccb"/>
      </g>
     <g>
       <a xlink:href="/forum/Mount Greenwood">
      <path d="m274.1 506.03v9.2435l34.92 0.25678 1.0271 1.2838 0.25669 5.392h6.9327l1.2837-2.0541v-4.365l11.554-0.25674v-34.406h-6.1624l-2.8243 2.0541-11.041-0.25678v-7.7029l-3.0812-2.5676-7.9595 0.25673-0.7704 32.609-24.136 0.51352z" fill="#5da665"/>
      </g>
    <g>
       <a xlink:href="/forum/Beverly">
      <path d="m330.59 480.87h5.1353v-10.271h12.325l0.25679-32.352 11.298 0.25675 7.1893 8.7299 14.892 34.149v3.0812l-3.0811 8.7299-48.528 0.5135 0.51346-12.838z" fill="#5da665"/>
      </g>
    <g>
       <a xlink:href="/forum/Morgan Park">
      <path d="m339.32 493.2h52.38l1.7974-0.77032 5.9055 0.51353v21.568l-24.136 0.25678-0.51353 11.554-32.352-0.25678 0.51356-10.527-12.581-1.0271 0.04407-10.014h5.348l0.25672-10.784 3.3379-0.5135z" fill="#5da665"/>
      </g>
    <g>
       <a xlink:href="/forum/Washington Heights">
      <path d="m366.54 447.24 15.406 34.663-0.25684 2.0541-3.3379 9.5002 13.608-0.51355 7.4461-0.77026-0.77029-9.5002 1.7973-1.2838 10.527-0.25674-0.25669-11.298 1.2838-0.51354v-2.0541l-2.0542-2.5676-0.25673-15.406-12.581-0.25678-1.027-1.2838h-1.2838l-0.51351 1.2838-2.3109-0.7703v-1.5406l2.0541-1.5406v-1.5406l-20.541-0.25676-3.8515 2.3109v1.0271l-3.0811 0.51348z" fill="#5da665"/>
      </g>
     <g>
       <a xlink:href="/forum/West Pullman">
     <path d="m375.52 515.02 62.137-0.77031-5.392 29.271-0.77031 8.7299-1.5406 1.2838-1.5406-0.25676-0.77026-2.5676-7.1893-0.25676-8.9867 6.419-17.203-0.25676-0.77026-1.2838 0.25669-6.9326h4.8785l1.0271-1.7974v-2.3108l1.027-1.027v-3.8515l-1.027-1.027v-1.027l-23.109-0.25679-0.77026-0.77026-0.25684-21.311z" fill="#b7dccb"/>
     </g>

    </g>
    <g transform="translate(-1.7777 -1.3988)" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width=".95">
     <text x="449.65762" y="349.79593" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="449.65762" y="349.79593" style="line-height:1">Hyde</tspan><tspan x="449.65762" y="357.90814" style="line-height:1">Park</tspan></text>
     <text x="434.62125" y="374.72665" style="line-height:0%" xml:space="preserve"><tspan x="434.62125" y="374.72665" font-size="8.1122px" style="line-height:1">Woodlawn</tspan></text>
     <text x="418.67905" y="346.37839" font-size="6.8981px" style="line-height:0%" xml:space="preserve"><tspan x="418.67905" y="346.37839" style="line-height:1">Wash-</tspan><tspan x="418.67905" y="353.27649" style="line-height:1">ington</tspan><tspan x="418.67905" y="360.17459" style="line-height:1">Park</tspan></text>
     <text x="470.04459" y="398.23892" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="470.04459" y="398.23892" style="line-height:1">South</tspan><tspan x="470.04459" y="406.35114" style="line-height:1">Shore</tspan></text>
     <text x="498.97165" y="429.78787" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="498.97165" y="429.78787" style="line-height:1">South</tspan><tspan x="498.97165" y="437.90009" style="line-height:1">Chicago</tspan></text>
     <text x="473.28189" y="502.80148" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="473.28189" y="502.80148" style="line-height:1">South</tspan><tspan x="473.28189" y="510.9137" style="line-height:1">Deering</tspan></text>
     <text x="488.53445" y="566.02271" style="line-height:0%" xml:space="preserve"><tspan x="488.53445" y="566.02271" font-size="8.1122px" style="line-height:1">Hegewisch</tspan></text>
     <text x="411.37167" y="397.52176" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="411.37167" y="397.52176" dy="1.43405" style="line-height:1">Greater</tspan><tspan x="411.37167" y="405.63397" dy="-0.71702498" style="line-height:1">Grand</tspan><tspan x="411.37167" y="413.74619" dy="-0.71702498" style="line-height:1">Crossing</tspan></text>
     <text x="411.86374" y="430.62802" style="line-height:0%" xml:space="preserve"><tspan x="411.86374" y="430.62802" font-size="8.1122px" style="line-height:1">Chatham</tspan></text>
     <text x="523.68109" y="486.41171" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="523.68109" y="486.41171" dy="-0.71702498" style="line-height:1">East</tspan><tspan x="523.68109" y="494.52393" dy="1.43405" style="line-height:1">Side</tspan></text>
     <text x="468.47012" y="446.15652" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="468.47012" y="446.15652" dx="-5.0191746" dy="0.71702498" style="line-height:1">Calumet</tspan><tspan x="468.47012" y="454.26874" dy="-0.71702498" style="line-height:1">Heights</tspan></text>
     <text transform="rotate(38.339)" x="620.45557" y="40.628532" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="620.45557" y="40.628532" style="line-height:1">Avalon</tspan><tspan x="620.45557" y="48.740742" style="line-height:1">Park</tspan></text>
     <text x="450.05258" y="453.92087" style="line-height:0%" xml:space="preserve"><tspan x="450.05258" y="453.92087" dx="0 -1.0140262 -1.0140262" font-size="8.1122px" style="line-height:1">(A)</tspan></text>
     <text transform="rotate(-51.03)" x="-107.7628" y="661.38342" style="line-height:0%" xml:space="preserve"><tspan x="-107.7628" y="661.38342" font-size="8.1122px" style="line-height:1">Pullman</tspan></text>
     <text transform="rotate(49.558)" x="693.93835" y="15.912836" style="line-height:0%" xml:space="preserve"><tspan x="693.93835" y="15.912836" font-size="8.1122px" style="line-height:1">Riverdale</tspan></text>
     <text x="388.30756" y="523.96429" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="388.30756" y="523.96429" style="line-height:1">West</tspan><tspan x="388.30756" y="532.07648" style="line-height:1">Pullman</tspan></text>
     <text transform="rotate(-46.758)" x="-82.766228" y="642.86774" style="line-height:0%" xml:space="preserve"><tspan x="-82.766228" y="642.86774" font-size="8.1122px" style="line-height:1">Roseland</tspan></text>
     <text x="358.20734" y="424.64401" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="358.20734" y="424.64401" style="line-height:1">Auburn</tspan><tspan x="358.20734" y="432.75623" style="line-height:1">Gresham</tspan></text>
     <text transform="rotate(15)" x="483.25961" y="339.85245" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="483.25961" y="339.85245" style="line-height:1">Wash-</tspan><tspan x="483.25961" y="347.96466" style="line-height:1">ington</tspan><tspan x="483.25961" y="356.07684" style="line-height:1">Heights</tspan></text>
     <text x="340.62964" y="483.19394" style="line-height:0%" xml:space="preserve"><tspan x="340.62964" y="483.19394" font-size="8.1122px" style="line-height:1">Beverly</tspan></text>
     <text x="344.93182" y="505.79074" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="344.93182" y="505.79074" style="line-height:1">Morgan</tspan><tspan x="344.93182" y="513.90295" style="line-height:1">Park</tspan></text>
     <text x="280.91272" y="505.29886" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="280.91272" y="505.29886" dx="18.642649" dy="-0.71702498" style="line-height:1">Mount</tspan><tspan x="280.91272" y="513.41107" dx="-5.0701313" dy="1.0140262" style="line-height:1">Greenwood</tspan></text>
     <text x="297.97723" y="426.07803" style="line-height:0%" xml:space="preserve"><tspan x="297.97723" y="426.07803" font-size="8.1122px" style="line-height:1">Ashburn</tspan></text>
     <text x="384.57825" y="365.25571" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="384.57825" y="365.25571" style="line-height:1">Engle-</tspan><tspan x="384.57825" y="373.36792" style="line-height:1">Wood</tspan></text>
     <text x="354.46326" y="370.17307" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="354.46326" y="370.17307" style="line-height:1">West</tspan><tspan x="354.46326" y="378.28528" style="line-height:1">Engle-</tspan><tspan x="354.46326" y="386.39749" style="line-height:1">Wood</tspan></text>
     <text x="311.56482" y="383.18143" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="311.56482" y="383.18143" style="line-height:1">Chicago</tspan><tspan x="311.56482" y="391.29364" style="line-height:1">Lawn</tspan></text>
     <text x="313.59286" y="348.76425" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="313.59286" y="348.76425" style="line-height:1">Gage</tspan><tspan x="313.59286" y="356.87646" style="line-height:1">Park</tspan></text>
     <text x="307.97958" y="313.62991" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="307.97958" y="313.62991" style="line-height:1">Brigton</tspan><tspan x="307.97958" y="321.74213" style="line-height:1">Park</tspan></text>
     <text x="366.16052" y="328.09354" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="366.16052" y="328.09354" style="line-height:1">New</tspan><tspan x="366.16052" y="336.20575" style="line-height:1">City</tspan></text>
     <text x="341.37512" y="297.37115" font-size="7.2492px" style="line-height:0%" xml:space="preserve"><tspan x="341.37512" y="297.37115" style="line-height:1">McKinley</tspan><tspan x="341.37512" y="304.62039" dx="4.4799137" style="line-height:1">Park</tspan></text>
     <text transform="rotate(-.0077452)" x="371.548" y="283.06461" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="371.548" y="283.06461" style="line-height:1">Bridge-</tspan><tspan x="371.548" y="291.17682" dx="7.0981846" style="line-height:1">Port</tspan></text>
     <text transform="rotate(-52.189)" x="-97.359131" y="426.8475" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="-97.359131" y="426.8475" dx="3.5851243" style="line-height:1">Archer</tspan><tspan x="-97.359131" y="434.95972" style="line-height:1">Heights</tspan></text>
     <text x="276.30762" y="353.06644" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="276.30762" y="353.06644" dx="0.71702498" dy="0.71702498" style="line-height:1">West</tspan><tspan x="276.30762" y="361.17865" dy="-0.71702498" style="line-height:1">Elsdon</tspan></text>
     <text x="278.45856" y="383.87723" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="278.45856" y="383.87723" style="line-height:1">West</tspan><tspan x="278.45856" y="391.98944" style="line-height:1">Lawn</tspan></text>
     <text x="222.89977" y="374.3309" style="line-height:0%" xml:space="preserve"><tspan x="222.89977" y="374.3309" font-size="8.1122px" style="line-height:1">Clearing</tspan></text>
     <text x="224.21074" y="351.63217" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="224.21074" y="351.63217" style="line-height:1">Garfield</tspan><tspan x="224.21074" y="359.74438" style="line-height:1">Ridge</tspan></text>
     <text x="446.05075" y="328.1434" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="446.05075" y="328.1434" style="line-height:1">Ken-</tspan><tspan x="446.05075" y="336.25562" style="line-height:1">Wood</tspan></text>
     <text transform="rotate(-45)" x="81.096321" y="511.82513" style="line-height:0%" xml:space="preserve"><tspan x="81.096321" y="511.82513" dx="0" font-size="7.2794px" style="line-height:1">Douglas</tspan></text>
     <text x="416.67477" y="322.64499" font-size="7.4949px" style="line-height:0%" xml:space="preserve"><tspan x="416.67477" y="322.64499" style="line-height:1">Grand</tspan><tspan x="416.67477" y="330.13986" style="line-height:1">Blvd</tspan></text>
     <text transform="rotate(90)" x="306.75583" y="-408.69455" style="line-height:0%" xml:space="preserve"><tspan x="306.75583" y="-408.69455" font-size="6.9482px" style="line-height:1">Fuller Park</tspan></text>
     <text transform="rotate(90)" x="255.44647" y="-408.57346" style="line-height:0%" xml:space="preserve"><tspan x="255.44647" y="-408.57346" dx="0 -0.50701308 -1.3355955e-08 -0.50701308 -0.50701308 0 -0.50701308 -0.50701308 -0.50701308 -0.50701308 -0.50701308 -0.50701308" font-size="6.94px" style="line-height:1">Armor Square</tspan></text>
     <text x="412.65695" y="246.6517" font-size="7.15px" style="line-height:0%" xml:space="preserve"><tspan x="412.65695" y="246.6517" style="line-height:1">Near</tspan><tspan x="412.65695" y="253.80173" style="line-height:1">South</tspan></text>
     <text x="443.51559" y="314.45419" style="line-height:0%" xml:space="preserve"><tspan x="443.51559" y="314.45419" dx="1.0140262 -1.0140262 -1.0140262" font-size="8.1122px" style="line-height:1">(B)</tspan></text>
     <text x="284.97702" y="280.86661" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="284.97702" y="280.86661" style="line-height:1">South</tspan><tspan x="284.97702" y="288.97882" style="line-height:1">Lawndale</tspan></text>
     <text x="343.79047" y="261.09305" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="343.79047" y="261.09305" style="line-height:1">Lower West</tspan><tspan x="343.79047" y="269.20526" style="line-height:1">Side</tspan></text>
     <text x="279.39987" y="246.89664" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="279.39987" y="246.89664" style="line-height:1">North</tspan><tspan x="279.39987" y="255.00885" style="line-height:1">Lawndale</tspan></text>
     <text x="299.19644" y="217.78793" font-size="7.6484px" style="line-height:0%" xml:space="preserve"><tspan x="299.19644" y="217.78793" style="line-height:1">East</tspan><tspan x="299.19644" y="225.43639" style="line-height:1">Garfield</tspan><tspan x="299.19644" y="233.08484" style="line-height:1">Park</tspan></text>
     <text x="353.93073" y="222.56009" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="353.93073" y="222.56009" style="line-height:1">Near</tspan><tspan x="353.93073" y="230.6723" style="line-height:1">West</tspan><tspan x="353.93073" y="238.78452" style="line-height:1">Side</tspan></text>
     <text x="407.67416" y="225.09512" style="line-height:0%" xml:space="preserve"><tspan x="407.67416" y="225.09512" font-size="8.1122px" style="line-height:1">Loop</tspan></text>
     <text x="398.54794" y="193.15335" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="398.54794" y="193.15335" style="line-height:1">Near</tspan><tspan x="398.54794" y="201.26556" style="line-height:1">North</tspan></text>
     <text x="346.32562" y="187.5762" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="346.32562" y="187.5762" style="line-height:1">West</tspan><tspan x="346.32562" y="195.68842" style="line-height:1">Town</tspan></text>
     <text x="272.33609" y="182.55356" font-size="7.7382px" style="line-height:0%" xml:space="preserve"><tspan x="272.33609" y="182.55356" style="line-height:1">Humboldt</tspan><tspan x="272.33609" y="190.29172" style="line-height:1">Park</tspan></text>
     <text x="233.76866" y="195.1813" style="line-height:0%" xml:space="preserve"><tspan x="233.76866" y="195.1813" font-size="8.1122px" style="line-height:1">Austin</tspan></text>
     <text x="274.35281" y="218.29489" font-size="7.6484px" style="line-height:0%" xml:space="preserve"><tspan x="274.35281" y="218.29489" style="line-height:1">West</tspan><tspan x="274.35281" y="225.94334" style="line-height:1">Garf.</tspan><tspan x="274.35281" y="233.5918" style="line-height:1">Park</tspan></text>
     <text x="373.53595" y="153.09927" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="373.53595" y="153.09927" style="line-height:1">Lincoln</tspan><tspan x="373.53595" y="161.21149" style="line-height:1">Park</tspan></text>
     <text x="362.38165" y="135.35379" style="line-height:0%" xml:space="preserve"><tspan x="362.38165" y="135.35379" font-size="8.1122px" style="line-height:1">Lakeview</tspan></text>
     <text transform="rotate(45)" x="314.6936" y="-159.84337" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="314.6936" y="-159.84337" style="line-height:1">North</tspan><tspan x="314.6936" y="-151.73116" style="line-height:1">Center</tspan></text>
     <text x="321.31357" y="75.526283" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="321.31357" y="75.526283" style="line-height:1">Lincoln</tspan><tspan x="321.31357" y="83.638496" style="line-height:1">Square</tspan></text>
     <text x="359.33954" y="94.285683" style="line-height:0%" xml:space="preserve"><tspan x="359.33954" y="94.285683" font-size="8.1122px" style="line-height:1">Uptown</tspan></text>
     <text x="357.81854" y="63.357944" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="357.81854" y="63.357944" style="line-height:1">Edge-</tspan><tspan x="357.81854" y="71.470154" style="line-height:1">water</tspan></text>
     <text x="318.27158" y="39.021259" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="318.27158" y="39.021259" style="line-height:1">West</tspan><tspan x="318.27158" y="47.133469" style="line-height:1">Ridge</tspan></text>
     <text transform="rotate(45)" x="260.85483" y="-236.4382" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="260.85483" y="-236.4382" style="line-height:1">Rogers</tspan><tspan x="260.85483" y="-228.32599" style="line-height:1">Park</tspan></text>
     <text x="284.80869" y="64.371986" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="284.80869" y="64.371986" style="line-height:1">North</tspan><tspan x="284.80869" y="72.4842" style="line-height:1">Park</tspan></text>
     <text x="283.79465" y="89.215614" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="283.79465" y="89.215614" dx="1.3355955e-08" dy="0.50701308" style="line-height:1">Albany</tspan><tspan x="283.79465" y="97.327827" dy="-1.0140262" style="line-height:1">Park</tspan></text>
     <text x="303.56821" y="153.09927" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="303.56821" y="153.09927" style="line-height:1">Logan</tspan><tspan x="303.56821" y="161.21149" style="line-height:1">Square</tspan></text>
     <text x="291.39987" y="138.3959" style="line-height:0%" xml:space="preserve"><tspan x="291.39987" y="138.3959" font-size="8.1122px" style="line-height:1">Avondale</tspan></text>
     <text transform="rotate(62.805)" x="244.16431" y="-178.21826" style="line-height:0%" xml:space="preserve"><tspan x="244.16431" y="-178.21826" font-size="7.6678px" style="line-height:1">Hermosa</tspan></text>
     <text x="223.51158" y="147.13992" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="223.51158" y="147.13992" style="line-height:1">Belmont</tspan><tspan x="223.51158" y="155.25214" style="line-height:1">Cragin</tspan></text>
     <text x="193.59776" y="148.15384" style="line-height:0%" xml:space="preserve"><tspan x="193.59776" y="148.15384" dx="0 -1.0140262 -1.0140262" font-size="8.1122px" style="line-height:1">(C)</tspan></text>
     <text x="166.72606" y="125.84538" style="line-height:0%" xml:space="preserve"><tspan x="166.72606" y="125.84538" font-size="8.1122px" style="line-height:1">Dunning</tspan></text>
     <text x="172.30321" y="62.468662" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="172.30321" y="62.468662" style="line-height:1">Norwood</tspan><tspan x="172.30321" y="70.580872" style="line-height:1">Park</tspan></text>
     <text transform="rotate(90)" x="13.801366" y="-178.4171" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="13.801366" y="-178.4171" style="line-height:1">Edison</tspan><tspan x="13.801366" y="-170.30489" style="line-height:1">Park</tspan></text>
     <text x="248.86229" y="53.342442" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="248.86229" y="53.342442" style="line-height:1">Forest</tspan><tspan x="248.86229" y="61.454651" style="line-height:1">Glen</tspan></text>
     <text x="212.33488" y="76.2089" font-size="7.712px" style="line-height:0%" xml:space="preserve"><tspan x="212.33488" y="76.2089" style="line-height:1">Jefferson</tspan><tspan x="212.33488" y="83.92086" style="line-height:1">Park</tspan></text>
     <text x="221.48351" y="100.49467" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="221.48351" y="100.49467" style="line-height:1">Portage</tspan><tspan x="221.48351" y="108.60688" style="line-height:1">Park</tspan></text>
     <text x="273.7059" y="109.62089" font-size="8.1122px" style="line-height:0%" xml:space="preserve"><tspan x="273.7059" y="109.62089" style="line-height:1">Irving</tspan><tspan x="273.7059" y="117.7331" style="line-height:1">Park</tspan></text>
     <text x="33.532146" y="67.921059" style="line-height:0%" xml:space="preserve"><tspan x="33.532146" y="67.921059" font-size="8.1122px" style="line-height:1">O'Hare</tspan></text>
    </g>
    <g transform="translate(-1.7777 -1.3988)">
     <rect x="17.244" y="201.47" width="169.93" height="301.47" ry="0" fill="#fff" stroke="#000" stroke-width="1.0275"/>
     <g transform="matrix(1.014 0 0 1.014 -132.11 -83.544)">
      <rect x="591.46" y="333.59" width="76.575" height="35.299" ry="0" fill="#fff" stroke="#000" stroke-width="1.0133"/>
      <text x="595" y="345.36221" fill="#000000" font-family="'Bitstream Vera Sans'" font-size="10px" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="595" y="345.36221" style="line-height:1">A. Burnside</tspan><tspan x="595" y="355.36221" style="line-height:1">B. Oakland</tspan><tspan x="595" y="365.36221" style="line-height:1">C. Montclare</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 -152.01)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#fca7f2" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">Central</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 -119.81)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#73b932" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">Far North Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 -87.615)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#b7dccb" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">Far Southeast Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 -55.419)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#5da665" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">Far Southwest Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 -23.224)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#68efe5" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">North Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 8.9713)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#7174da" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">Northwest Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 41.167)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#eff547" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">South Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 73.362)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#f09a3e" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">Southwest Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -139.87 105.56)">
      <rect x="162.86" y="359.42" width="18.535" height="18.535" fill="#ff5e70" stroke="#434343" stroke-width=".86497"/>
      <text x="185.99998" y="373.15842" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="185.99998" y="373.15842" font-size="12px" style="line-height:1">West Side</tspan></text>
     </g>
     <g transform="matrix(1.014 0 0 1.014 -129.24 -156.06)">
      <rect x="544.76" y="175.1" width="99.202" height="28.227" ry="0" fill="#fff" stroke="#000" stroke-width="1.0133"/>
      <text x="549.64917" y="194.65353" fill="#000000" font-family="'Bitstream Vera Sans'" font-weight="bold" stroke-width="1.4" style="line-height:0%" xml:space="preserve"><tspan x="549.64917" y="194.65353" font-size="20px" style="line-height:1">Chicago</tspan></text>
     </g>
    </g>
   </svg>
</div>
 
  <script type="text/javascript" src="js/script.js"></script>
  </main>