form.signup,
form.login {
  margin-top: 50px;
}

/* $blue: #0A2470; 
$green: #1D8164;
$darkgrey: #B4B4B4;
$lightgrey: #E7E7E7;
$displayFont: "Times New Roman", Times, serif;
$typeFont: ;
$width: 90%;
$inline: inline-block;

header {
  h1 {
    font-family: $displayFont
    position: relative;
    top: 50px;
  }
  h2 {
    font-family: $typeFont
  }
}

main {
  background-color: $darkgrey
  font-family: $typeFont
}

.width {
  width: $width
  margin-left: auto
  margin-right: auto
}

.createPost {
  background-color: white;
  height: 300px;
  width: 40%
}

.forum {
background-color: $lightgrey;
  height: 300px;
  width: 40%
}

*/